* {
  box-sizing: border-box;
  box-style: border-box;
}
  
:root {
  /*--clr-background: #9d72ff;
  --clr-white: #ffffff;
  --clr-primary: #01ffff;
  --clr-expertise: #01ffc3;
  --clr-fondo: #ffb3fd;
  --clr-black: #000000;
  --clr-background: #232323;*/
  --clr-background: #000;
  --clr-white: #ffffff;
  --clr-primary: #00218a;
  --clr-expertise: #4bc35c;
  --clr-contact: #FF853B;
  /*--clr-español: #e34545;*/
  --clr-español: #51e6e1;
  --clr-services: #629be7;
  --clr-clients: #a262e7;
  --clr-pink: #e762c1;
  
  --clr-mint: #51e6e1;
  --clr-fondo: #47ff31;
  --clr-black: #474747;
  --clr-font: #f8f7f7;
  --font-size: 16px;
  --border-radius:0.2em;
}

canvas {
  display: block; 
  background-color: #f0f0f0; 
}

#textContainer {
  position: absolute;
  margin: 3em 2em;
  left: 0;
  top: 0vh;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.indexbody{
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.exptertisebody, .servicesbody, .clientsbody, .contactbody{
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  /*position: relative;*/
  min-height: 100vh;
  overflow: hidden auto;
}
  
.subtitulo{
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
  color: var(--clr-font);
}

.index {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-background);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.plc {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-expertise);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 4em;
  overflow: hidden auto;
}



.design {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-contact);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.machines {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-services);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.contact {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-contact);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.clients {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-clients);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 3.7em;
  font-size: 1em;
  line-height: 0.8em;
  width: 100%;
  box-sizing: border-box;
}

#canvasContainer {
  position: relative;
  display: block; 
  background-color: #f0f0f0; 
}

.line {
  width: 35px;
  height: 5px;
  background-color: var(--clr-font);
  margin: 6px 0;
}

.c {
  z-index: 3;
}

.c:hover #drop-down {
  display: flex;
}
  
.c:focus-within #drop-down {
  display: flex;
}
  
.c #drop-down {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  flex-direction: column;
  top: 60px;
  background-color: var(--clr-background);
  padding: 30px 0;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 0 10px var(--clr-black);
  transform: translateX(-10%);
  font-size: 0.85em;
  z-index: 3;
  margin-left: -110px;
  margin-top: -10px;
}
  
.c #drop-down .clinks {
  display: flex;
  padding: 5px 0;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  text-transform: uppercase;
  z-index: 3;
}
  
.c #drop-down{
  .mExpertise:hover{
    color: var(--clr-expertise);
  }
  .mServices:hover{
    color: var(--clr-services);
  }
  .mClients:hover{
    color: var(--clr-clients);
  }
  .mContact:hover{
    color: var(--clr-contact);
  }
  .mLanguage:hover{
    color: var(--clr-español);
  }
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 3em;
  padding: 0;
  color: var(--clr-white);
}

nav ul li a {
  padding: 0.5em;
  font-weight: bold;
  color: var(--clr-white);
}


.content1{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}


.content2{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-expertise);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content3{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-services);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content4{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-clients);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content5{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-contact);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.footer1 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer2 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-expertise);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer3 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-services);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer4 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-clients);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer5 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-contact);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.programacion-hmi {
  margin: 2em;
}


.logos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 0px; /* Espacio entre los logos */
  grid-auto-rows: 15vh;
  /*background-color: #e34545;*/
  margin: 1vh 2vw;
}

.logo {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 80%; /* Ancho deseado para cada logo */
  height: 80%; /* Alto deseado para cada logo */
  /*background-color: #47ff31;*/
  margin: auto;
}

.logo img {
  width: 100%; /* Ancho completo dentro del contenedor */
  height: 100%; /* Alto completo dentro del contenedor */
  object-fit: contain; /* Escala el contenido para que quepa en el cuadro manteniendo su relación de aspecto */
}

#parallax-container {
  position: relative;
  width: 100vw;
  height: 265vh; /* Altura suficiente para el efecto */
  overflow: hidden;
}

.parallax-layer{
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 30vw; /* Ancho deseado para cada logo */
  height: auto; /* Alto deseado para cada logo */
  /*background-color: #47ff31;*/
  margin: 0;
  position: absolute;
  /*background-size:cover;*/
  background-repeat:no-repeat;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.parallax-layer img{
  width: 100%; /* Ancho completo dentro del contenedor */
  height: 100%; /* Alto completo dentro del contenedor */
  object-fit: contain;
}


/* Grupo 1 */
#layer1 {
  top: 10vh;
  left: 6vw;
}
#layer4 {
  top: calc(21vh + 4 * 1vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer7 {
  top: calc(35vh + 4 * 2vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer10 {
  top: calc(57vh + 4 * 3vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer13 {
  top: calc(80vh + 4 * 4vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer16 {
  top: calc(103vh + 4 * 5vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer19 {
  top: calc(126vh + 4 * 6vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer22 {
  top: calc(141vh + 4 * 7vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer25 {
  top: calc(155vh + 4 * 8vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer28 {
  top: calc(170vh + 4 * 9vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer31 {
  top: calc(185vh + 4 * 10vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer34 {
  top: calc(208vh + 4 * 11vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer37 {
  top: calc(223vh + 4 * 12vh); /* Incremento de 25vh */
  left: 6vw;
}
#layer40 {
  top: calc(246vh + 4 * 13vh); /* Incremento de 25vh */
  left: 6vw;
}

/* Grupo 2 */
#layer3 {
  top: 15vh;
  left: 35vw;
}
#layer6 {
  top: calc(37vh + 4 * 1vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer9 {
  top: calc(51vh + 4 * 2vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer12 {
  top: calc(65vh + 4 * 3vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer15 {
  top: calc(79vh + 4 * 4vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer18 {
  top: calc(101vh + 4 * 5vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer21 {
  top: calc(116vh + 4 * 6vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer24 {
  top: calc(131vh + 4 * 7vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer27 {
  top: calc(146vh + 4 * 8vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer30 {
  top: calc(169vh + 4 * 9vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer33 {
  top: calc(184vh + 4 * 10vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer36 {
  top: calc(199vh + 4 * 11vh); /* Incremento de 40vh */
  left: 35vw;
}
#layer39 {
  top: calc(214vh + 4 * 12vh); /* Incremento de 40vh */
  left: 35vw;
}

/* Grupo 3 */
#layer2 {
  top: 5vh;
  left: 64vw;
}
#layer5 {
  top: calc(16vh + 4 * 1vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer8 {
  top: calc(30vh + 4 * 2vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer11 {
  top: calc(52vh + 4 * 3vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer14 {
  top: calc(74vh + 4 * 4vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer17 {
  top: calc(97vh + 4 * 5vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer20 {
  top: calc(109vh + 4 * 6vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer23 {
  top: calc(132vh + 4 * 7vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer26 {
  top: calc(147vh + 4 * 8vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer29 {
  top: calc(162vh + 4 * 9vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer32 {
  top: calc(174vh + 4 * 10vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer35 {
  top: calc(184vh + 4 * 11vh); /* Incremento de 30vh */
  left: 64vw;
}
#layer38 {
  top: calc(206vh + 4 * 12vh); /* Incremento de 30vh */
  left: 64vw;
}



@media screen and (min-width: 500px) {
  .logos-grid {
    grid-template-columns: repeat(4, 1fr); /* 6 columnas en pantallas anchas */
    margin: 2vh 5vw; /* Margen más grande en pantallas anchas */
  }
}

@media screen and (min-width: 750px) {
  .logos-grid {
    grid-template-columns: repeat(7, 1fr); /* 6 columnas en pantallas anchas */
    margin: 2vh 5vw; /* Margen más grande en pantallas anchas */
  }

  /* Incrementos de 40vh */
#layer1 {
  top: 10vh;
  left: 8vw;
}
#layer4 {
  top: 50vh;
  left: 8vw;
}
#layer7 {
  top: 90vh;
  left: 8vw;
}
#layer10 {
  top: 130vh;
  left: 8vw;
}
#layer13 {
  top: 170vh;
  left: 8vw;
}
#layer16 {
  top: 210vh;
  left: 8vw;
}
#layer19 {
  top: 250vh;
  left: 8vw;
}
#layer22 {
  top: 290vh;
  left: 8vw;
}
#layer25 {
  top: 330vh;
  left: 8vw;
}
#layer28 {
  top: 370vh;
  left: 8vw;
}
#layer31 {
  top: 410vh;
  left: 8vw;
}
#layer34 {
  top: 450vh;
  left: 8vw;
}
#layer37 {
  top: 490vh;
  left: 8vw;
}
#layer40 {
  top: 530vh;
  left: 8vw;
}

/* Incrementos de 60vh */
#layer3 {
  top: 15vh;
  left: 37vw;
}
#layer6 {
  top: 75vh;
  left: 37vw;
}
#layer9 {
  top: 135vh;
  left: 37vw;
}
#layer12 {
  top: 195vh;
  left: 37vw;
}
#layer15 {
  top: 255vh;
  left: 37vw;
}
#layer18 {
  top: 315vh;
  left: 37vw;
}
#layer21 {
  top: 375vh;
  left: 37vw;
}
#layer24 {
  top: 435vh;
  left: 37vw;
}
#layer27 {
  top: 495vh;
  left: 37vw;
}
#layer30 {
  top: 555vh;
  left: 37vw;
}
#layer33 {
  top: 615vh;
  left: 37vw;
}
#layer36 {
  top: 675vh;
  left: 37vw;
}
#layer39 {
  top: 735vh;
  left: 37vw;
}

/* Incrementos de 50vh */
#layer2 {
  top: 10vh;
  left: 66vw;
}
#layer5 {
  top: 60vh;
  left: 66vw;
}
#layer8 {
  top: 110vh;
  left: 66vw;
}
#layer11 {
  top: 160vh;
  left: 66vw;
}
#layer14 {
  top: 210vh;
  left: 66vw;
}
#layer17 {
  top: 260vh;
  left: 66vw;
}
#layer20 {
  top: 310vh;
  left: 66vw;
}
#layer23 {
  top: 360vh;
  left: 66vw;
}
#layer26 {
  top: 410vh;
  left: 66vw;
}
#layer29 {
  top: 460vh;
  left: 66vw;
}
#layer32 {
  top: 510vh;
  left: 66vw;
}
#layer35 {
  top: 560vh;
  left: 66vw;
}
#layer38 {
  top: 610vh;
  left: 66vw;
}
}

@media screen and (min-width: 1200px) {
  .logos-grid {
    grid-template-columns: repeat(8, 1fr); /* 6 columnas en pantallas anchas */
    margin: 13vh 13vw; /* Margen más grande en pantallas anchas */
  }
  #parallax-container {
    position: relative;
    width: 100vw;
    height: 850vh; /* Altura suficiente para el efecto */
    overflow: hidden;
  }
  #layer1 {
    top: 10vh;
    left: 8vw;
  }
  #layer4 {
    top: 53vh;
    left: 8vw;
  }
  #layer7 {
    top: 108vh;
    left: 8vw;
  }
  #layer10 {
    top: 197vh;
    left: 8vw;
  }
  #layer13 {
    top: 286vh;
    left: 8vw;
  }
  #layer16 {
    top: 376vh;
    left: 8vw;
  }
  #layer19 {
    top: 466vh;
    left: 8vw;
  }
  #layer22 {
    top: 519vh;
    left: 8vw;
  }
  #layer25 {
    top: 572vh;
    left: 8vw;
  }
  #layer28 {
    top: 625vh;
    left: 8vw;
  }
  #layer31 {
    top: 678vh;
    left: 8vw;
  }
  #layer34 {
    top: 766vh;
    left: 8vw;
  }
  #layer37 {
    top: 819vh;
    left: 8vw;
  }
  #layer40 {
    top: 907vh;
    left: 8vw;
  }
  
  /* Incrementos de 60vh */
  #layer3 {
    top: 15vh;
    left: 37vw;
  }
  #layer6 {
    top: 104vh;
    left: 37vw;
  }
  #layer9 {
    top: 158vh;
    left: 37vw;
  }
  #layer12 {
    top: 213vh;
    left: 37vw;
  }
  #layer15 {
    top: 266vh;
    left: 37vw;
  }
  #layer18 {
    top: 355vh;
    left: 37vw;
  }
  #layer21 {
    top: 408vh;
    left: 37vw;
  }
  #layer24 {
    top: 461vh;
    left: 37vw;
  }
  #layer27 {
    top: 514vh;
    left: 37vw;
  }
  #layer30 {
    top: 603vh;
    left: 37vw;
  }
  #layer33 {
    top: 657vh;
    left: 37vw;
  }
  #layer36 {
    top: 711vh;
    left: 37vw;
  }
  #layer39 {
    top: 765vh;
    left: 37vw;
  }
  
  /* Incrementos de 50vh */
  #layer2 {
    top: 10vh;
    left: 66vw;
  }
  #layer5 {
    top: 53vh;
    left: 66vw;
  }
  #layer8 {
    top: 107vh;
    left: 66vw;
  }
  #layer11 {
    top: 196vh;
    left: 66vw;
  }
  #layer14 {
    top: 284vh;
    left: 66vw;
  }
  #layer17 {
    top: 372vh;
    left: 66vw;
  }
  #layer20 {
    top: 412vh;
    left: 66vw;
  }
  #layer23 {
    top: 501vh;
    left: 66vw;
  }
  #layer26 {
    top: 554vh;
    left: 66vw;
  }
  #layer29 {
    top: 607vh;
    left: 66vw;
  }
  #layer32 {
    top: 649vh;
    left: 66vw;
  }
  #layer35 {
    top: 685vh;
    left: 66vw;
  }
  #layer38 {
    top: 773vh;
    left: 66vw;
  }
}