* {
  box-sizing: border-box;
  box-style: border-box;
}
  
:root {
  /*--clr-background: #9d72ff;
  --clr-white: #ffffff;
  --clr-primary: #01ffff;
  --clr-expertise: #01ffc3;
  --clr-fondo: #ffb3fd;
  --clr-black: #000000;
  --clr-background: #232323;*/
  --clr-background: #000;
  --clr-white: #ffffff;
  --clr-primary: #00218a;
  --clr-expertise: #4bc35c;
  --clr-contact: #FF853B;
  --clr-español: #e34545;
  --clr-services: #629be7;
  --clr-clients: #a262e7;
  --clr-pink: #e762c1;
  --clr-mint: #51e6e1;
  --clr-fondo: #47ff31;
  --clr-black: #474747;
  --clr-font: #f8f7f7;
  --font-size: 16px;
  --border-radius:0.2em;
}

canvas {
  display: block; 
  background-color: #f0f0f0; 
}

#textContainer {
  position: absolute;
  margin: 3em 2em;
  left: 0;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.indexbody{
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.exptertisebody, .servicesbody, .clientsbody, .contactbody{
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  /*position: relative;*/
  min-height: 100vh;
  overflow: hidden auto;
}
  
.subtitulo{
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
  color: var(--clr-font);
}

.index {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-background);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.plc {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-expertise);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 4em;
  overflow: hidden auto;
}



.design {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-contact);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.machines {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-services);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.contact {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-contact);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

.clients {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.05em;
  color: var(--clr-font);
  background-color: var(--clr-clients);
  /*position: relative;*/
  min-height: 100vh;
  padding-bottom: 5em;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 1em;
  font-size: 1em;
  line-height: 0.8em;
  width: 100%;
  box-sizing: border-box;
}

#canvasContainer {
  position: relative;
  display: block; 
  background-color: #f0f0f0; 
}

.line {
  width: 35px;
  height: 5px;
  background-color: var(--clr-font);
  margin: 6px 0;
}

.c {
  z-index: 2;
}

.c:hover #drop-down {
  display: flex;
}
  
.c:focus-within #drop-down {
  display: flex;
}
  
.c #drop-down {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  flex-direction: column;
  top: 60px;
  background-color: var(--clr-background);
  padding: 30px 0;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 0 10px var(--clr-black);
  transform: translateX(-10%);
  font-size: 0.85em;
  z-index: 2;
  margin-left: -110px;
  margin-top: -10px;
}
  
.c #drop-down .clinks {
  display: flex;
  padding: 5px 0;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  text-transform: uppercase;
  z-index: 2;
}
  
.c #drop-down{
  .mExpertise:hover{
    color: var(--clr-expertise);
  }
  .mServices:hover{
    color: var(--clr-services);
  }
  .mClients:hover{
    color: var(--clr-clients);
  }
  .mContact:hover{
    color: var(--clr-contact);
  }
  .mEspañol:hover{
    color: var(--clr-español);
  }
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 3em;
  padding: 0;
  color: var(--clr-white);
}

nav ul li a {
  padding: 0.5em;
  font-weight: bold;
  color: var(--clr-white);
}


.content1{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}


.content2{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-expertise);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content3{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-services);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content4{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-clients);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content5{
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-contact);
  padding: 0.5em 1em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.footer1 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer2 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-expertise);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer3 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-services);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer4 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-clients);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer5 {
  width: 100vw;
  border-radius: var(--border-radius);
  background-color: var(--clr-contact);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.programacion-hmi {
  margin: 2em;
}

.collage {
  position: relative;
  width: 100vw;
  height: 500vh;
  max-width: 100%;
  max-height: 100%;
  /*overflow: hidden; /* Para ocultar cualquier desbordamiento de contenido */
}

.image-container {
  position: absolute;
  width: 20%;
  max-width: 600px; /* Tamaño máximo para los contenedores de imagen */
  height: 10%;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

/* Establece el estilo para los primeros 7 childs */
.image-container:nth-child(1) {
  top: 25vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(2) {
  top: 35vh;
  left: 55vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(3) {
  top: 45vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(4) {
  top: 55vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(5) {
  top: 65vh;
  left: 30vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(6) {
  top: 75vh;
  left: 60vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(7) {
  top: 85vh;
  left: 45vw;
  transform: translate(-50%, -50%);
}

/* Repite el patrón para los siguientes 33 childs */
.image-container:nth-child(8) {
  top: 95vh;
  left: 25vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(9) {
  top: 105vh;
  left: 65vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(10) {
  top: 115vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(11) {
  top: 125vh;
  left: 55vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(12) {
  top: 135vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(13) {
  top: 145vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(14) {
  top: 155vh;
  left: 30vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(15) {
  top: 165vh;
  left: 60vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(16) {
  top: 175vh;
  left: 45vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(17) {
  top: 185vh;
  left: 25vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(18) {
  top: 195vh;
  left: 65vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(19) {
  top: 205vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(20) {
  top: 215vh;
  left: 55vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(21) {
  top: 225vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(22) {
  top: 235vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(23) {
  top: 245vh;
  left: 30vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(24) {
  top: 255vh;
  left: 60vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(25) {
  top: 265vh;
  left: 45vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(26) {
  top: 275vh;
  left: 25vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(27) {
  top: 285vh;
  left: 65vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(28) {
  top: 295vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(29) {
  top: 305vh;
  left: 55vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(30) {
  top: 315vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(31) {
  top: 325vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(32) {
  top: 335vh;
  left: 30vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(33) {
  top: 345vh;
  left: 60vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(34) {
  top: 355vh;
  left: 45vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(35) {
  top: 365vh;
  left: 25vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(36) {
  top: 375vh;
  left: 65vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(37) {
  top: 385vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(38) {
  top: 395vh;
  left: 55vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(39) {
  top: 405vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.image-container:nth-child(40) {
  top: 415vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}


.logos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 0px; /* Espacio entre los logos */
  grid-auto-rows: 15vh;
  /*background-color: #e34545;*/
  margin: 1vh 2vw;
}

.logo {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 80%; /* Ancho deseado para cada logo */
  height: 80%; /* Alto deseado para cada logo */
  /*background-color: #47ff31;*/
  margin: auto;
}

.logo img {
  width: 100%; /* Ancho completo dentro del contenedor */
  height: 100%; /* Alto completo dentro del contenedor */
  object-fit: contain; /* Escala el contenido para que quepa en el cuadro manteniendo su relación de aspecto */
}

@media screen and (min-width: 500px) {
  .logos-grid {
    grid-template-columns: repeat(4, 1fr); /* 6 columnas en pantallas anchas */
    margin: 2vh 5vw; /* Margen más grande en pantallas anchas */
  }
}

@media screen and (min-width: 750px) {
  .logos-grid {
    grid-template-columns: repeat(7, 1fr); /* 6 columnas en pantallas anchas */
    margin: 2vh 5vw; /* Margen más grande en pantallas anchas */
  }

  /* Incrementos de 40vh */
#layer1 {
  top: 10vh;
  left: 8vw;
}
#layer4 {
  top: 50vh;
  left: 8vw;
}
#layer7 {
  top: 90vh;
  left: 8vw;
}
#layer10 {
  top: 130vh;
  left: 8vw;
}
#layer13 {
  top: 170vh;
  left: 8vw;
}
#layer16 {
  top: 210vh;
  left: 8vw;
}
#layer19 {
  top: 250vh;
  left: 8vw;
}
#layer22 {
  top: 290vh;
  left: 8vw;
}
#layer25 {
  top: 330vh;
  left: 8vw;
}
#layer28 {
  top: 370vh;
  left: 8vw;
}
#layer31 {
  top: 410vh;
  left: 8vw;
}
#layer34 {
  top: 450vh;
  left: 8vw;
}
#layer37 {
  top: 490vh;
  left: 8vw;
}
#layer40 {
  top: 530vh;
  left: 8vw;
}

/* Incrementos de 60vh */
#layer3 {
  top: 15vh;
  left: 37vw;
}
#layer6 {
  top: 75vh;
  left: 37vw;
}
#layer9 {
  top: 135vh;
  left: 37vw;
}
#layer12 {
  top: 195vh;
  left: 37vw;
}
#layer15 {
  top: 255vh;
  left: 37vw;
}
#layer18 {
  top: 315vh;
  left: 37vw;
}
#layer21 {
  top: 375vh;
  left: 37vw;
}
#layer24 {
  top: 435vh;
  left: 37vw;
}
#layer27 {
  top: 495vh;
  left: 37vw;
}
#layer30 {
  top: 555vh;
  left: 37vw;
}
#layer33 {
  top: 615vh;
  left: 37vw;
}
#layer36 {
  top: 675vh;
  left: 37vw;
}
#layer39 {
  top: 735vh;
  left: 37vw;
}

/* Incrementos de 50vh */
#layer2 {
  top: 10vh;
  left: 66vw;
}
#layer5 {
  top: 60vh;
  left: 66vw;
}
#layer8 {
  top: 110vh;
  left: 66vw;
}
#layer11 {
  top: 160vh;
  left: 66vw;
}
#layer14 {
  top: 210vh;
  left: 66vw;
}
#layer17 {
  top: 260vh;
  left: 66vw;
}
#layer20 {
  top: 310vh;
  left: 66vw;
}
#layer23 {
  top: 360vh;
  left: 66vw;
}
#layer26 {
  top: 410vh;
  left: 66vw;
}
#layer29 {
  top: 460vh;
  left: 66vw;
}
#layer32 {
  top: 510vh;
  left: 66vw;
}
#layer35 {
  top: 560vh;
  left: 66vw;
}
#layer38 {
  top: 610vh;
  left: 66vw;
}
}

@media screen and (min-width: 1200px) {
  .logos-grid {
    grid-template-columns: repeat(8, 1fr); /* 6 columnas en pantallas anchas */
    margin: 13vh 13vw; /* Margen más grande en pantallas anchas */
  }
}

/*.parallax-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Sombras sutiles 
  filter: blur(0.2px) brightness(110%) contrast(90%); 
}*/

#parallax-container {
  position: relative;
  width: 100vw;
  height: 310vh; /* Altura suficiente para el efecto */
  overflow: hidden;
}

/*.parallax-layer {
  width: 30vw;
  height: 35vh;
  position: absolute; /* Posición absoluta para que se superpongan /* Desde la parte izquierda
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}*/

.parallax-layer{
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 30vw; /* Ancho deseado para cada logo */
  height: auto; /* Alto deseado para cada logo */
  /*background-color: #47ff31;*/
  margin: 0;
  position: absolute;
  /*background-size:cover;*/
  background-repeat:no-repeat;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.parallax-layer img{
  width: 100%; /* Ancho completo dentro del contenedor */
  height: 100%; /* Alto completo dentro del contenedor */
  object-fit: contain;
}




/* Incrementos de 40vh */
#layer1 {
  top: 10vh;
  left: 6vw; /* Restado 2vw */
}
#layer4 {
  top: 35vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer7 {
  top: 60vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer10 {
  top: 85vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer13 {
  top: 110vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer16 {
  top: 135vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer19 {
  top: 160vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer22 {
  top: 185vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer25 {
  top: 210vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer28 {
  top: 235vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer31 {
  top: 260vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer34 {
  top: 285vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer37 {
  top: 310vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}
#layer40 {
  top: 335vh; /* Incremento de 25vh */
  left: 6vw; /* Restado 2vw */
}

/* Incrementos de 60vh */
#layer3 {
  top: 15vh; /* Incremento de 15vh */
  left: 35vw; /* Restado 2vw */
}
#layer6 {
  top: 55vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer9 {
  top: 95vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer12 {
  top: 135vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer15 {
  top: 175vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer18 {
  top: 215vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer21 {
  top: 255vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer24 {
  top: 295vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer27 {
  top: 335vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer30 {
  top: 375vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer33 {
  top: 415vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer36 {
  top: 455vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}
#layer39 {
  top: 495vh; /* Incremento de 40vh */
  left: 35vw; /* Restado 2vw */
}

/* Incrementos de 50vh */
#layer2 {
  top: 5vh; /* Incremento de 5vh */
  left: 64vw; /* Restado 2vw */
}
#layer5 {
  top: 35vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer8 {
  top: 65vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer11 {
  top: 95vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer14 {
  top: 125vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer17 {
  top: 155vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer20 {
  top: 185vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer23 {
  top: 215vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer26 {
  top: 245vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer29 {
  top: 275vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer32 {
  top: 305vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer35 {
  top: 335vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
#layer38 {
  top: 365vh; /* Incremento de 30vh */
  left: 64vw; /* Restado 2vw */
}
